.welcome-text{
    color: #2A3036;
}

#jumbotron-1{
    background-image: url("Background.jpg");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}


.footer{
    background-color: #2A3036;
}
