#jumbotron-1{
    background-image: url("Background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}

.footer{
    background-color: #2A3036;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.fa-github{
    color: #F3F4F0;
}

.fa-linkedin{
    color: #F3F4F0;
}

#jumbotron-1{
    text-align: left;
    font-weight: bolder;
    font-family: Georgia;
    font-size: 8vh;

}

#self-portrait{
    height: 50vh;
}

#about-me{
    background-color: #2A3036;
    color: #F3F4F0;
}

#contact-me{
    background-color: #F3F4F0;
}

#portfolio{
    background-color: #EC9C46;
}

.cover {
    object-fit: cover;
}

.lead:hover {
    color: #F3F4F0;
}

.lead {
    cursor: pointer;
}

#footer-text {
    font-size: 3vh;
}