#jumbotron-1{
    background-image: url("Background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
}

.footer{
    background-color: #2A3036;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.fa-github{
    color: #F3F4F0;
}

.fa-linkedin{
    color: #F3F4F0;
}

.p-5{
    text-align: left;
    font-weight: bolder;
    font-family: Georgia;
    font-size: 9vh;

}

#self-portrait{
    height: 50vh;
}

#aboutme{
    background-color: #2A3036;
    color: #F3F4F0;
}

#contact-me{
    background-color: #F3F4F0;
}

#portfolio{
    background-color: #EC9C46;
}