ul{
    background-color:#EC9C46;
}


li{
    margin: 10px 0px;
    list-style-type: square;
    list-style-position: outside;
}

body{
    color: #F3F4F0;
    background-color: #2A3036;
}

.picture1{
    display:block;
    height: auto;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

p{
    display: block;

}

.picture2{
    height:1000px;
}
.picture3{
    height: 1000px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.imgContainer{
    display:block;
    text-align: center;
}