ul{
    background-color: gray;
}


li{
    margin: 10px 0px;
    list-style-type: square;
    list-style-position: outside;
}

body{
    color: darkgreen;
    background-color: darkgoldenrod;
}

.picture1{
    display:block;
    height: auto;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

p{
    display: block;

}