li{
    margin: 10px 0px;
    list-style-type: square;
    list-style-position: outside;
}

body{
    color: darkgreen;
    display: block;

}

.picture1{
    display: block;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p{
    height: auto;
    text-align: left;
}

